{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ user.nom }} {{ user.prenom }}{% endblock %}

{% block body %}

    <div class="container">
        <img class="img-fluid img-thumbnail rounded-circle col-sm-3 float-end"  src="{{ asset('img/'~user.avatar) }}" alt="avatar">
        {% if user.id == app.user.id %}
            <h1 class="text-center mt-5">Mon compte</h1>
            <hr>
        {% else %}
            <h1>{{ user.pseudo }}</h1>
        {% endif %}

        <div>
            <h2>{{ user.nom }} {{ user.prenom }}</h2>
            <p>alias : {{ user.pseudo }}</p>
            <p>{{ user.email }}</p>
            <p>{{ user.telephone }}</p>
            <p>du campus de {{ campus.nom }} </p>
        </div>
        <hr>

        {% if user.id == app.user.id %}
            <a href="{{path('app_account_update',{id:app.user.id}) }}" class="btn btn-outline-secondary">Modifier mon compte</a>
        {% endif %}
    </div>

{% endblock %}