{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('sortie') }}">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path('accountlist',{id:app.user.id}) }}">Mon Profil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Modifier mon compte</li>
        </ol>
    </nav>
    <br>
    <div class="container mt-5 col-sm-8 col-md-5 bg-light rounded">
        <h1 class="text-center mt-5">Modifier mon compte</h1>
        {{ form_start(UpdateAccountForm) }}

            {{ form_row(UpdateAccountForm.nom, {value:app.user.nom}) }}
            {{ form_row(UpdateAccountForm.prenom, {value:app.user.prenom}) }}
            {{ form_row(UpdateAccountForm.pseudo, {value:app.user.pseudo}) }}
            {{ form_row(UpdateAccountForm.avatar, {required:false}) }}

            <label for="campus">Campus</label>
            <select name="campus" id="campus" class="form-select">
                {% for campus in allCampus %}
                    <option value="{{ campus.id }}" {% if campus == app.user.estRattacheA %} selected {% endif %}>{{ campus.nom }}</option>
                {% endfor %}
            </select>

            {{ form_row(UpdateAccountForm.telephone, {value:app.user.telephone}) }}
            {{ form_row(UpdateAccountForm.email, {value:app.user.email}) }}
            <button class="btn btn-outline-success my-3">Modifier</button>
        {{ form_end(UpdateAccountForm) }}
    </div>

{% endblock %}

{% block title %}
{{ parent() }} update account
{% endblock %}

