{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Connexion !{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">

    <div class="container mt-5 col-sm-8 col-md-5 {% if not app.user %}bg-light{% endif %} rounded position-absolute top-50 start-50 translate-middle">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    <h1 class="text-center text-light">Bienvenu {{ app.user.pseudo }}</h1>
                </div>

            {% else %}
            <h1 class="h3 mb-3 font-weight-normal text-center">Connectez-vous</h1>
            <label for="inputEmail">Email</label>
            <input type="text" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Se souvenir de moi
                </label>
            </div>

            <span class="d-flex justify-content-around mt-2">
                <a href="{{ path('app_register') }}">Créer un compte</a>
                <a class="text-danger" href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>
            </span>
            <br>

            <button class="btn btn-outline-secondary my-4" type="submit">
                Se connecter
            </button>
            {% endif %}
        </form>
    </div>
{% endblock %}
