{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
<link rel="stylesheet" href="{{ asset('css/app.css') }}">
<div class="container mt-5 p-4 col-sm-8 col-md-5 bg-light rounded">
    <h1>Réinitialiser votre mot de passer</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Entrer une adresse mail valide pour l'envoie du lien de réinitialisation.
            </small>
        </div>

        <button class="btn btn-outline-secondary mt-3">Envoyer l'email</button>
    {{ form_end(requestForm) }}
</div>
{% endblock %}
