{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Gestion des Villes !{% endblock %}



{% block body %}
    <br>
    <h2 class="text-center">Gerer les Villes</h2>
    <h3>Filtrer les Villes: </h3>
    {{ form_start(form) }}
    <div class="input-group mb-3">
        {{ form_row(form.recherche) }}
        {{ form_row(form.query) }}
    </div>
    <a
       href="{{ path('admin_villes') }}">Retirer filtre</a>

    {{ form_end(form) }}


    <br>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Villes</th>
                <th>Code Postal</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>

            {% for ville in villes %}
                <tr>
                    <form method="post" action="{{ path('admin_update_ville',{'id':ville.id}) }}">
                        <td><input type="text" name="ville{{ ville.id }}" class="form-control-plaintext"
                                   value="{{ ville.nom }}"></td>
                        <td><input type="text" name="cp{{ ville.id }}" class="form-control-plaintext"
                                   value="{{ ville.codePostal }}"></td>
                        <td>
                            <button type="submit" class="btn btn-success"><i class="bi bi-pencil"></i></button>
                            <a class="btn btn-danger"
                               href="{{ path('admin_delete_ville',{'id':ville.id}) }}"><i class="bi bi-trash"></i></a>
                        </td>
                    </form>
                </tr>
            {% endfor %}

            <tr>
                {{ form_start(VilleForm) }}
                <td>{{ form_row(VilleForm.nom) }}</td>
                <td>{{ form_row(VilleForm.codePostal) }}</td>
                <td>
                    <button type="submit" class="btn btn-primary"><i class="bi bi-save"></i></button>
                </td>
                {{ form_end(VilleForm) }}
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
