{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Créer uen sortie
{% endblock %}

{% block body %}
    <h2>Créer une sortie</h2>
    {{ form_start(sortieForm) }}

    {{ form_widget(sortieForm) }}
        {# <button>Enregistrer</button> #}
        <a class="btn btn-danger" href="{{ path('sortie') }}">Annuler</a>
    {{ form_end(sortieForm) }}
{% endblock %}
