{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | {{ sortie.nom }}
{% endblock %}

{% block body %}
    <br>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('sortie') }}">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Afficher une Sortie</li>
        </ol>
    </nav>
    <br>

    <div class="container mt-5 col-sm-8 col-md-5 bg-light rounded">
        <div>
            <h2 class="text-center mt-5">Afficher une sortie</h2>
        </div>
        <br>
        <div>
            Nom de la sortie : {{ sortie.nom }}
        </div>
        <div>
            Date et heure de la sortie : {{ sortie.dateHeureDebut|date('d/m/Y h:m') }}
        </div>
        <div>
            Date limite d'inscription : {{ sortie.dateLimiteInscription|date('d/m/Y') }}
        </div>
        <div>
            Nombre de places : {{ sortie.nbInscriptionMax }}
        </div>
        <div>
            Durée : {{ sortie.duree }} minutes
        </div>
        <div>
            Description et infos : {{ sortie.infoSortie }}
        </div>
        <div>
            Campus : {{ sortie.campus.nom }}
        </div>
        <div>
            Lieu : {{ sortie.lieuSortie.nom }}
        </div>
        <div>
            Rue : {{ sortie.lieuSortie.rue }}
        </div>
        <div>
            Code Postal : {{ sortie.lieuSortie.lieuDansVille.codePostal }}
        </div>
        <div>
            Latitude : {{ sortie.lieuSortie.latitude }}
        </div>
        <div>
            Longitude : {{ sortie.lieuSortie.longitude }}
        </div>
{#
        <div class="col-12 my-5">
            <table class="table table-dark table-striped">
                <thead>
                <tr>
                    <th scope="col">Pseudo</th>
                    <th scope="col">Nom</th>
                </tr>
                </thead>
                <tbody>
                Liste des participants inscrits :

                {% for estInscrit in participants %}
                    <tr class="align-middle">
                        <th scope="col">{{ sortie.getParticipant.pseudo }}</th>
                        <th scope="col">{{ sortie.getParticipant().getPrenom() ~' '~ sortie.getParticipant().getNom()|upper }}</th>

                        <th scope="col">{% for inscrit in sortie.getParticipants().toArray() %}
                                {% if inscrit == app.user %}
                                    <div class="ms-3">
                                        <i class="bi bi-check-lg" style="color: white"></i>
                                    </div>
                                {% endif %}
                            {% endfor %}</th>
                        <th scope="col">
                        </th>

                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
#}
    </div>
{% endblock %}
