{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Sorties{% endblock %}

{% block body %}
    <div class="text-end mt-3">
        <h4>Date du jour : {{ "now"|date('d/m/Y') }}</h4>
        <h4>Participant : {{ app.user.prenom ~ ' ' ~ app.user.nom }} </h4>
    </div>
    <h4>Filtrer les sorties</h4>


    {# Debut du formulaire #}


    {{ form_start(rechercheForm, {
        'attr':{
            'class': 'row',
        }
    }) }}

    <div class="col-4 pe-5">
        <div class="row justify-content-between mt-3 mb-3">
            <div class="col-4">
                {{ form_label(rechercheForm.campus) }}
            </div>
            {{ form_widget(rechercheForm.campus) }}
        </div>
        <div class="row justify-content-between mt-3 mb-3">
            <div class="col-5">
                {{ form_label(rechercheForm.nom) }}
            </div>
            {{ form_widget(rechercheForm.nom) }}
        </div>
        <div class="row justify-content-between mt-3 mb-3">
            <div class="col-3">
                {{ form_label(rechercheForm.debut) }}
            </div>
            {{ form_widget(rechercheForm.debut) }}
        </div>
        <div class="row justify-content-between mt-3 mb-3">
            <div class="col-3">
                {{ form_label(rechercheForm.fin) }}
            </div>
            {{ form_widget(rechercheForm.fin) }}
        </div>
    </div>

    <div class="column col-4 align-self-center form-check ps-5">
        <div class="mb-1">
            {{ form_label(rechercheForm.organisateur) }}
            {{ form_widget(rechercheForm.organisateur) }}
        </div>
        <div class="mb-1">
            {{ form_label(rechercheForm.inscrit) }}
            {{ form_widget(rechercheForm.inscrit) }}
        </div>
        <div class="mb-1">
            {{ form_label(rechercheForm.noninscrit) }}
            {{ form_widget(rechercheForm.noninscrit) }}
        </div>
        <div class="mb-1">
            {{ form_label(rechercheForm.passees) }}
            {{ form_widget(rechercheForm.passees) }}
        </div>
    </div>

    <div class="col-4 align-self-center row justify-content-around">
        <button type="submit" class="col-5 btn btn-dark btn-lg">Rechercher</button>
        <a href="{{ path('sortie') }}" class="col-5 btn btn-dark btn-lg">Annuler</a>
    </div>

    {{ form_end(rechercheForm) }}


    {# Fin du formulaire #}


    <div class="col-12 my-5">
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th scope="col">Nom de la sortie</th>
                <th scope="col">Date de la sortie</th>
                <th scope="col">Clôture</th>
                <th scope="col">Inscrits/places</th>
                <th scope="col">Etat</th>
                <th scope="col">Inscrit</th>
                <th scope="col">Organisateur</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>

            {% for sortie in sorties %}
            <tr>
                <th scope="col">{{ sortie.getnom() }}</th>
                <th scope="col">{{ sortie.getDateHeureDebut()|date('d-m-Y') }}</th>
                <th scope="col">{{ sortie.getDateLimiteInscription()|date('d-m-Y') }}</th>
                <th scope="col">{{ sortie.getParticipants()|length ~'/'~ sortie.getNbInscriptionMax() }}</th>
                <th scope="col">{{ sortie.getEtat().getLibelle() }}</th>

                <th scope="col">{% for inscrit in sortie.getParticipant().getEstInscrit() %}
                        {% if inscrit == app.user.id %}
                        <i class="bi bi-check-lg" style="color: white"></i>
                        {% endif %}
                {% endfor %}</th>
                <th scope="col">{{ sortie.getParticipant().getPrenom() }}</th>
                <th scope="col">

                    {# Afficher le lien de detail de la sortie #}
                    <a href="{{ path('sortie_detail', {'id':sortie.id}) }}">Afficher</a>

                    {# Afficher le bouton S'inscrire si le nombre de place max n'est pas atteint, que l'état est ouvert et que la date max n'est pas passée #}
                    {% if sortie.getParticipants()|length < sortie.getNbInscriptionMax()
                        and sortie.getEtat().getLibelle() == 'Ouvert'
                        and date() < sortie.getDateLimiteInscription()
                        and sortie.getParticipant().getEmail() != app.user.email %}
                        <a href="{{ path('sortie_sInscrire', {'sortieId': sortie.id, 'userId': app.user.id}) }}">S'inscrire</a>
                    {% endif %}

                    {# Affiche le bouton Se desister si nous sommes inscrit #}
                    {% for inscrit in sortie.getParticipant().getEstInscrit() %}
                        {% if inscrit == app.user and sortie.getEtat().getLibelle() == 'Ouvert' %}
                            <a href="#">Se desister</a>
                        {% endif %}
                    {% endfor %}

                    {# Affiche le bouton annuler la sortie si nous sommes l'organisateur #}
                    {% if sortie.getParticipant().getEmail() == app.user.email and sortie.getEtat().getLibelle() == 'Ouvert' %}
                        <a href=" {{ path('sortie_annuler', {'id':sortie.id})}} ">Annuler</a>
                    {% endif %}

                    {% if sortie.getEtat().getLibelle() == 'En création' and sortie.getParticipant().getEmail() == app.user.email %}
                        <a href="{{ path('sortie_modifier', {'id':sortie.id}) }}">Modifier</a>
                    {% endif %}
                </th>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

    <div class="row justify-content-around pt-5">
        <a href="{{path('sortie_create',{id:app.user.id}) }}" class="btn btn-lg btn-dark col-3">Créer une sortie</a>
    </div>
{% endblock %}
