{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Sorties{% endblock %}

{% block body %}
    <div class="text-end mt-3">
        <h4>Date du jour : {{ "now"|date('d/m/Y') }}</h4>
        <h4>Participant : {{ app.user.prenom ~ ' ' ~ app.user.nom }} </h4>
    </div>
    <h4>Filtrer les sorties</h4>


    {# <form class="row" method="#">
        <div class="col-4 pe-5">
            <div class="row justify-content-between mt-3 mb-3">
                <label for="campus" class="col-4">Campus : </label>
                <select name="campus" class="col-6">
                    <option value="NIORT">Niort</option>
                    <option value="NANTES">Nantes</option>
                    <option value="QUIMPER">Quimper</option>
                    <option value="RENNES">Rennes</option>
                </select>
            </div>
            <div class="row justify-content-between mb-3">
                <label for="nom" class="col-5">Le nom contient : </label>
                <input type="text" name="nom" class="col-6">
            </div>
            <div class="row justify-content-between mb-3">
                <label for="dateDebut" class="col">Entre : </label>
                <input type="date" class="col">
                <label for="dateFin" class="col text-center"> et : </label>
                <input type="date" class="col">
            </div>
        </div>

        <div class="column col-4 align-self-center form-check ps-5">
            <div class="mb-1">
                <input type="checkbox" value="{{ app.user.id }}" name="organisateur" class="form-check-input"> <label
                        for="organisateur" class="form-check-label">Sorties
                    dont
                    je suis l'organisateur/trice</label>
            </div>
            <div class="mb-1">
                <input type="checkbox" value="true" name="inscrit" class="form-check-input"> <label for="inscrit"
                                                                                                    class="form-check-label">Sorties
                    auxquelles je suis
                    inscrit/e</label>
            </div>
            <div class="mb-1">
                <input type="checkbox" value="true" name="noninscrit" class="form-check-input"> <label for="noninscrit"
                                                                                                       class="form-check-label">Sorties
                    auxquelles je ne
                    suis
                    pas inscrit/e</label>
            </div>
            <div class="mb-1">
                <input type="checkbox" value="true" name="passees" class="form-check-input"> <label for="passe"
                                                                                                    class="form-check-label">Sorties
                    passées</label>
            </div>
        </div>
        <div class="col-4 align-self-center row justify-content-around">
            <button type="submit" class="col-5 btn btn-dark btn-lg">Rechercher</button>
        </div>
    </form> #}


    {# Debut du formulaire #}


    {{ form_start(rechercheForm, {
        'attr':{
            'class': 'row',
        }
    }) }}

    <div class="col-4 pe-5">
        <div class="row justify-content-between mt-3 mb-3">
            <div class="col-4">
                {{ form_label(rechercheForm.campus) }}
            </div>
            {{ form_widget(rechercheForm.campus) }}
        </div>
        <div class="row justify-content-between mt-3 mb-3">
            <div class="col-5">
                {{ form_label(rechercheForm.nom) }}
            </div>
            {{ form_widget(rechercheForm.nom) }}
        </div>
        <div class="row justify-content-between mt-3 mb-3">
            <div class="col-3">
                {{ form_label(rechercheForm.debut) }}
            </div>
            {{ form_widget(rechercheForm.debut) }}
        </div>
        <div class="row justify-content-between mt-3 mb-3">
            <div class="col-3">
                {{ form_label(rechercheForm.fin) }}
            </div>
            {{ form_widget(rechercheForm.fin) }}
        </div>
    </div>

    <div class="column col-4 align-self-center form-check ps-5">
        <div class="mb-1">
            {{ form_label(rechercheForm.organisateur) }}
            {{ form_widget(rechercheForm.organisateur) }}
        </div>
        <div class="mb-1">
            {{ form_label(rechercheForm.inscrit) }}
            {{ form_widget(rechercheForm.inscrit) }}
        </div>
        <div class="mb-1">
            {{ form_label(rechercheForm.noninscrit) }}
            {{ form_widget(rechercheForm.noninscrit) }}
        </div>
        <div class="mb-1">
            {{ form_label(rechercheForm.passees) }}
            {{ form_widget(rechercheForm.passees) }}
        </div>
    </div>

    <div class="col-4 align-self-center row justify-content-around">
        <button type="submit" class="col-5 btn btn-dark btn-lg">Rechercher</button>
    </div>

    {{ form_end(rechercheForm) }}


    {# Fin du formulaire #}


    <div class="col-12 my-5">
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th scope="col">Nom de la sortie</th>
                <th scope="col">Date de la sortie</th>
                <th scope="col">Clôture</th>
                <th scope="col">Inscrits/places</th>
                <th scope="col">Etat</th>
                <th scope="col">Inscrit</th>
                <th scope="col">Organisateur</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>

            {% for sortie in sorties %}
            <tr>
                <th scope="col">{{ sortie.getnom() }}</th>
                <th scope="col">{{ sortie.getDateHeureDebut()|date('d-m-Y') }}</th>
                <th scope="col">{{ sortie.getDateLimiteInscription()|date('d-m-Y') }}</th>
                <th scope="col">{{ sortie.getParticipants()|length ~'/'~ sortie.getNbInscriptionMax() }}</th>
                <th scope="col">{{ sortie.getEtat() }}</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

    <div class="row justify-content-around pt-5">
        <a href="/sortie/creer_sortie" class="btn btn-lg btn-dark col-3">Créer une sortie</a>
    </div>
{% endblock %}
