{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <table class="mt-5 table table-hover text-center">
        <tr class="table-active">
            <th>pseudo</th>
            <th>nom</th>
            <th>prenom</th>
            <th>mail</th>
            <th>telephone</th>
            <th>campus</th>
            <th> activer / désactiver </th>
            <th>supprimer</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.pseudo }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.telephone }}</td>
                <td>{{ user.estRattacheA.nom }}</td>
                {% if user.roles[0] == 'ROLE_ADMIN' %}
                <td colspan="2">
                    admin
                </td>
                {% else %}
                    <td>
                        {% if user.roles[0] == 'ROLE_USER' %}
                            <form action="{{ path('admin_app_admin_banuser',{id:user.id}) }}">
                                <button class="btn btn-warning"><i class="bi bi-power"></i></button>
                            </form>
                        {% elseif user.roles[0] == 'ROLE_BAN' %}
                            <form action="{{ path('admin_app_admin_banuser',{id:user.id}) }}">
                                <button class="btn btn-success"><i class="bi bi-power"></i></button>
                            </form>
                        {% endif %}
                    </td>
                    <td>
                        <form action="{{ path('admin_app_admin_deleteuser',{id:user.id}) }}">
                            <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
                        </form>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}

{% block title %}
{{ parent() }} | comptes
{% endblock %}